body{
  background-color: rgb(54, 199, 131);
  padding-top: 20px;
}

.header{
  padding: 10px;
  margin-bottom: 20px;
}

.content-area{
  border-radius: 20px;
}

.result-info{
  border-radius: 20px;
  padding: 5px;
  background-color: rgb(54, 206, 117);
  font-size: 16px;
}